html,
body {
margin:0;
padding:0;
height:100%;
}
main {
  padding-bottom: 4%; /*for showing footer well*/
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
.indexPageCards {
  max-height: 450px;
  max-width: 250px;
  /*overflow: auto;*/
  margin: 1.2rem;
}
.nameOnCardIndex{
  font-size:
}
.buttonDelItem{
      margin-top: 1rem;
}
.nameItemCart {
    margin-bottom: 3.5rem;
}
.buttonsOnCart {
  margin: 2rem;
}
